<!-- views/admin-dashboard.ejs -->
<link rel="stylesheet" href="/css/styles.css">
<div class="admin-container">
  <h1 class="admin-title">Panel Administrador</h1>

  <div class="admin-buttons">
    <a href="/admin/users" class="custom-button">
      Gestión de Usuarios
    </a>
    <a href="/admin/progress" class="custom-button">
      Reporte de Progreso
    </a>
  </div>
</div>

